@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting default theme to dark */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Uncomment the following block to enable dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply antialiased;
  color: var(--foreground);
  background: var(--background);
}
